<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>best_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{312,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{312,46}}</string>
                <key>sourceSize</key>
                <string>{312,46}</string>
            </dict>
            <key>best_score.png</key>
            <dict>
                <key>frame</key>
                <string>{{471,238},{143,30}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,30}}</string>
                <key>sourceSize</key>
                <string>{143,32}</string>
            </dict>
            <key>continue.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,238},{173,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{173,73}}</string>
                <key>sourceSize</key>
                <string>{181,73}</string>
            </dict>
            <key>continue_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,440},{147,63}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,7},{147,63}}</string>
                <key>sourceSize</key>
                <string>{181,73}</string>
            </dict>
            <key>getGift.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,208},{209,88}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{209,88}}</string>
                <key>sourceSize</key>
                <string>{211,90}</string>
            </dict>
            <key>giftFont_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,84},{240,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,0},{240,75}}</string>
                <key>sourceSize</key>
                <string>{294,75}</string>
            </dict>
            <key>giftFont_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,161},{237,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,0},{237,75}}</string>
                <key>sourceSize</key>
                <string>{293,75}</string>
            </dict>
            <key>giftFont_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,131},{238,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,0},{238,75}}</string>
                <key>sourceSize</key>
                <string>{294,75}</string>
            </dict>
            <key>new_game.png</key>
            <dict>
                <key>frame</key>
                <string>{{213,238},{181,71}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{181,71}}</string>
                <key>sourceSize</key>
                <string>{181,73}</string>
            </dict>
            <key>new_game_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,385},{153,63}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,10},{153,63}}</string>
                <key>sourceSize</key>
                <string>{181,73}</string>
            </dict>
            <key>now_score.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,50},{252,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,0},{252,79}}</string>
                <key>sourceSize</key>
                <string>{314,79}</string>
            </dict>
            <key>record_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{313,413},{146,127}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{146,127}}</string>
                <key>sourceSize</key>
                <string>{146,147}</string>
            </dict>
            <key>returnHome.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,298},{180,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,73}}</string>
                <key>sourceSize</key>
                <string>{180,73}</string>
            </dict>
            <key>returnHome_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,373},{154,65}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,8},{154,65}}</string>
                <key>sourceSize</key>
                <string>{180,73}</string>
            </dict>
            <key>return_home.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,2},{188,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,80}}</string>
                <key>sourceSize</key>
                <string>{188,80}</string>
            </dict>
            <key>return_home_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,311},{158,72}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,8},{158,72}}</string>
                <key>sourceSize</key>
                <string>{188,80}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Gameover.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1deac326a4f028913b329ae01cf814fd:1/1$</string>
            <key>textureFileName</key>
            <string>Gameover.png</string>
        </dict>
    </dict>
</plist>
