<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>best_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{977,0},{312,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{312,46}</string>
			</dict>
			<key>best_score.png</key>
			<dict>
				<key>frame</key>
				<string>{{849,75},{143,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{143,32}</string>
			</dict>
			<key>new_game.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,169},{181,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{181,73}</string>
			</dict>
			<key>now_score.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{314,79}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{314,79}</string>
			</dict>
			<key>record_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{314,75},{146,147}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{146,147}</string>
			</dict>
			<key>return_home.png</key>
			<dict>
				<key>frame</key>
				<string>{{211,79},{188,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{188,80}</string>
			</dict>
			<key>BubbleSpecial/piaodai_lizi.png</key>
			<dict>
				<key>frame</key>
				<string>{{665,197},{58,62}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>
			<key>BubbleSpecial/particle_star.png</key>
			<dict>
				<key>frame</key>
				<string>{{605,197},{60,60}}</string>
				<key>offset</key>
				<string>{2,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>
			<key>continue.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,242},{181,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{181,73}</string>
			</dict>
			<key>getGift.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,79},{211,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{211,90}</string>
			</dict>
			<key>giftFont_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{314,0},{294,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{294,75}</string>
			</dict>
			<key>returnHome.png</key>
			<dict>
				<key>frame</key>
				<string>{{461,75},{180,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{180,73}</string>
			</dict>
			<key>new_game_press.png</key>
			<dict>
				<key>frame</key>
				<string>{{791,75},{145,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{181,73}</string>
			</dict>
			<key>return_home_press.png</key>
			<dict>
				<key>frame</key>
				<string>{{641,75},{150,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{188,80}</string>
			</dict>
			<key>continue_press.png</key>
			<dict>
				<key>frame</key>
				<string>{{641,139},{145,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{181,73}</string>
			</dict>
			<key>returnHome_press.png</key>
			<dict>
				<key>frame</key>
				<string>{{461,148},{144,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{180,73}</string>
			</dict>
			<key>giftFont_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{902,0},{293,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{293,75}</string>
			</dict>
			<key>giftFont_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{608,0},{294,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{294,75}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>Gameover.png</string>
			<key>realTextureFileName</key>
			<string>Gameover.png</string>
			<key>size</key>
			<string>{1024,512}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>512</integer>
		</dict>
	</dict>
</plist>