<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Back word_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1927,279},{172,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{172,93}}</string>
                <key>sourceSize</key>
                <string>{172,93}</string>
            </dict>
            <key>Return.png</key>
            <dict>
                <key>frame</key>
                <string>{{1867,981},{77,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,77}}</string>
                <key>sourceSize</key>
                <string>{77,77}</string>
            </dict>
            <key>Return_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1867,1060},{77,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,77}}</string>
                <key>sourceSize</key>
                <string>{77,77}</string>
            </dict>
            <key>Right.png</key>
            <dict>
                <key>frame</key>
                <string>{{1893,650},{142,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,70}}</string>
                <key>sourceSize</key>
                <string>{142,70}</string>
            </dict>
            <key>Right_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1512,962},{140,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,70}}</string>
                <key>sourceSize</key>
                <string>{140,70}</string>
            </dict>
            <key>Start word.png</key>
            <dict>
                <key>frame</key>
                <string>{{1286,962},{172,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{172,93}}</string>
                <key>sourceSize</key>
                <string>{172,93}</string>
            </dict>
            <key>The first.png</key>
            <dict>
                <key>frame</key>
                <string>{{1460,962},{169,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,50}}</string>
                <key>sourceSize</key>
                <string>{169,50}</string>
            </dict>
            <key>The first_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1893,479},{169,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,50}}</string>
                <key>sourceSize</key>
                <string>{169,50}</string>
            </dict>
            <key>The second.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1140},{169,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,48}}</string>
                <key>sourceSize</key>
                <string>{169,48}</string>
            </dict>
            <key>The second_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{173,1140},{169,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,48}}</string>
                <key>sourceSize</key>
                <string>{169,48}</string>
            </dict>
            <key>The third.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,1140},{169,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,48}}</string>
                <key>sourceSize</key>
                <string>{169,48}</string>
            </dict>
            <key>The third_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{515,1140},{169,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,48}}</string>
                <key>sourceSize</key>
                <string>{169,48}</string>
            </dict>
            <key>background.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{640,1136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,1136}}</string>
                <key>sourceSize</key>
                <string>{640,1136}</string>
            </dict>
            <key>bottom .png</key>
            <dict>
                <key>frame</key>
                <string>{{1286,2},{639,475}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{639,475}}</string>
                <key>sourceSize</key>
                <string>{639,475}</string>
            </dict>
            <key>ci.png</key>
            <dict>
                <key>frame</key>
                <string>{{1623,1145},{41,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,40}}</string>
                <key>sourceSize</key>
                <string>{41,40}</string>
            </dict>
            <key>color.png</key>
            <dict>
                <key>frame</key>
                <string>{{686,1140},{224,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{224,35}}</string>
                <key>sourceSize</key>
                <string>{224,35}</string>
            </dict>
            <key>dark.png</key>
            <dict>
                <key>frame</key>
                <string>{{1561,819},{250,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,55}}</string>
                <key>sourceSize</key>
                <string>{250,55}</string>
            </dict>
            <key>error_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1965,597},{69,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,69}}</string>
                <key>sourceSize</key>
                <string>{69,69}</string>
            </dict>
            <key>frame_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1584,948},{103,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,103}}</string>
                <key>sourceSize</key>
                <string>{103,103}</string>
            </dict>
            <key>gamebuy_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1623,1053},{90,76}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,10},{90,76}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>gamebuy_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1703,876},{82,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,1},{82,92}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>gamebuy_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1512,1104},{70,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,5},{70,84}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>guan.png</key>
            <dict>
                <key>frame</key>
                <string>{{912,1140},{137,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,33}}</string>
                <key>sourceSize</key>
                <string>{137,33}</string>
            </dict>
            <key>help.png</key>
            <dict>
                <key>frame</key>
                <string>{{1813,819},{78,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,76}}</string>
                <key>sourceSize</key>
                <string>{78,76}</string>
            </dict>
            <key>left.png</key>
            <dict>
                <key>frame</key>
                <string>{{1945,453},{142,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,70}}</string>
                <key>sourceSize</key>
                <string>{142,70}</string>
            </dict>
            <key>left_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1561,876},{140,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,70}}</string>
                <key>sourceSize</key>
                <string>{140,70}</string>
            </dict>
            <key>likai.png</key>
            <dict>
                <key>frame</key>
                <string>{{1286,1057},{172,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{172,93}}</string>
                <key>sourceSize</key>
                <string>{172,93}</string>
            </dict>
            <key>lock.png</key>
            <dict>
                <key>frame</key>
                <string>{{1965,668},{69,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,69}}</string>
                <key>sourceSize</key>
                <string>{69,69}</string>
            </dict>
            <key>losstrophy.png</key>
            <dict>
                <key>frame</key>
                <string>{{1051,1140},{135,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,37}}</string>
                <key>sourceSize</key>
                <string>{135,37}</string>
            </dict>
            <key>map.png</key>
            <dict>
                <key>frame</key>
                <string>{{1965,739},{66,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,69}}</string>
                <key>sourceSize</key>
                <string>{66,69}</string>
            </dict>
            <key>map_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1893,794},{71,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,70}}</string>
                <key>sourceSize</key>
                <string>{71,70}</string>
            </dict>
            <key>map_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1965,807},{67,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,67}}</string>
                <key>sourceSize</key>
                <string>{67,67}</string>
            </dict>
            <key>music.png</key>
            <dict>
                <key>frame</key>
                <string>{{1946,981},{76,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,76}}</string>
                <key>sourceSize</key>
                <string>{76,76}</string>
            </dict>
            <key>music_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1946,1059},{76,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,76}}</string>
                <key>sourceSize</key>
                <string>{76,76}</string>
            </dict>
            <key>name.png</key>
            <dict>
                <key>frame</key>
                <string>{{1286,479},{605,338}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{605,338}}</string>
                <key>sourceSize</key>
                <string>{605,338}</string>
            </dict>
            <key>next.png</key>
            <dict>
                <key>frame</key>
                <string>{{1785,980},{80,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,79}}</string>
                <key>sourceSize</key>
                <string>{80,79}</string>
            </dict>
            <key>next_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1785,1061},{80,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,79}}</string>
                <key>sourceSize</key>
                <string>{80,79}</string>
            </dict>
            <key>obtaintrophy.png</key>
            <dict>
                <key>frame</key>
                <string>{{1584,1053},{135,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,37}}</string>
                <key>sourceSize</key>
                <string>{135,37}</string>
            </dict>
            <key>read.png</key>
            <dict>
                <key>frame</key>
                <string>{{1286,898},{247,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{247,62}}</string>
                <key>sourceSize</key>
                <string>{247,62}</string>
            </dict>
            <key>read_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1286,819},{273,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{273,77}}</string>
                <key>sourceSize</key>
                <string>{273,77}</string>
            </dict>
            <key>red.png</key>
            <dict>
                <key>frame</key>
                <string>{{1927,2},{275,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{275,95}}</string>
                <key>sourceSize</key>
                <string>{275,95}</string>
            </dict>
            <key>separatrix.png</key>
            <dict>
                <key>frame</key>
                <string>{{1188,1140},{21,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,37}}</string>
                <key>sourceSize</key>
                <string>{21,37}</string>
            </dict>
            <key>separatrix_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2022,279},{55,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,12}}</string>
                <key>sourceSize</key>
                <string>{55,12}</string>
            </dict>
            <key>start.png</key>
            <dict>
                <key>frame</key>
                <string>{{1689,960},{82,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,83}}</string>
                <key>sourceSize</key>
                <string>{82,83}</string>
            </dict>
            <key>start_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1701,1045},{82,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,83}}</string>
                <key>sourceSize</key>
                <string>{82,83}</string>
            </dict>
            <key>suspended.png</key>
            <dict>
                <key>frame</key>
                <string>{{1797,897},{82,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,81}}</string>
                <key>sourceSize</key>
                <string>{82,81}</string>
            </dict>
            <key>suspended_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1881,897},{82,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,82}}</string>
                <key>sourceSize</key>
                <string>{82,82}</string>
            </dict>
            <key>trophy.png</key>
            <dict>
                <key>frame</key>
                <string>{{1701,1130},{58,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,55}}</string>
                <key>sourceSize</key>
                <string>{58,55}</string>
            </dict>
            <key>yellow.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,2},{640,1136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,1136}}</string>
                <key>sourceSize</key>
                <string>{640,1136}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>mainUi0.png</string>
            <key>size</key>
            <string>{2036,1190}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:aae891780866df8b2df3cccf273d32e6:de328c234f3b4c426235144ced199baa:d197daee8ee1a4958ec8434bb53d62d0$</string>
            <key>textureFileName</key>
            <string>mainUi0.png</string>
        </dict>
    </dict>
</plist>
