<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>20414.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,467},{24,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,256}}</string>
                <key>sourceSize</key>
                <string>{24,256}</string>
            </dict>
            <key>52452.png</key>
            <dict>
                <key>frame</key>
                <string>{{497,150},{187,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{187,13}}</string>
                <key>sourceSize</key>
                <string>{187,13}</string>
            </dict>
            <key>gg.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,178},{256,254}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,254}}</string>
                <key>sourceSize</key>
                <string>{256,254}</string>
            </dict>
            <key>glow01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,268},{64,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,25}}</string>
                <key>sourceSize</key>
                <string>{64,25}</string>
            </dict>
            <key>gongxiguoguan.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{443,174}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{443,174}}</string>
                <key>sourceSize</key>
                <string>{451,174}</string>
            </dict>
            <key>guang3.png</key>
            <dict>
                <key>frame</key>
                <string>{{447,66},{63,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,16}}</string>
                <key>sourceSize</key>
                <string>{63,16}</string>
            </dict>
            <key>guangyun.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,339},{126,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,126}}</string>
                <key>sourceSize</key>
                <string>{126,126}</string>
            </dict>
            <key>gxgg_glow2.png</key>
            <dict>
                <key>frame</key>
                <string>{{447,150},{116,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,48}}</string>
                <key>sourceSize</key>
                <string>{116,48}</string>
            </dict>
            <key>paopaotang_glow.png</key>
            <dict>
                <key>frame</key>
                <string>{{447,84},{60,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,64}}</string>
                <key>sourceSize</key>
                <string>{60,64}</string>
            </dict>
            <key>y.png</key>
            <dict>
                <key>frame</key>
                <string>{{447,2},{62,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,63}}</string>
                <key>sourceSize</key>
                <string>{62,63}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>paopaolong0.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:aa6b23176474a5b88837ef88f3250481:1/1$</string>
            <key>textureFileName</key>
            <string>paopaolong0.png</string>
        </dict>
    </dict>
</plist>
