<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>continue_button.png</key>
			<dict>
				<key>frame</key>
				<string>{{150,114},{187,79}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{187,79}</string>
			</dict>
			<key>gift.png</key>
			<dict>
				<key>frame</key>
				<string>{{416,170},{112,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{112,94}</string>
			</dict>
			<key>gold_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{233,268},{164,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{164,54}</string>
			</dict>
			<key>mao.png</key>
			<dict>
				<key>frame</key>
				<string>{{301,170},{95,111}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{95,111}</string>
			</dict>
			<key>new_button.png</key>
			<dict>
				<key>frame</key>
				<string>{{301,2},{188,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{188,80}</string>
			</dict>
			<key>plus.png</key>
			<dict>
				<key>frame</key>
				<string>{{291,361},{45,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{45,45}</string>
			</dict>
			<key>shop.png</key>
			<dict>
				<key>frame</key>
				<string>{{291,269},{88,97}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{88,97}</string>
			</dict>
			<key>start_turn.png</key>
			<dict>
				<key>frame</key>
				<string>{{392,286},{80,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{80,96}</string>
			</dict>
			<key>vol.png</key>
			<dict>
				<key>frame</key>
				<string>{{77,425},{50,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{50,52}</string>
			</dict>
			<key>vol_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,475},{50,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{50,52}</string>
			</dict>
			<key>affirm.png</key>
			<dict>
				<key>frame</key>
				<string>{{301,86},{188,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{188,80}</string>
			</dict>
			<key>cancel.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,117},{181,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{181,73}</string>
			</dict>
			<key>affirm_press.png</key>
			<dict>
				<key>frame</key>
				<string>{{233,114},{150,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{188,80}</string>
			</dict>
			<key>continue_button_press.png</key>
			<dict>
				<key>frame</key>
				<string>{{79,271},{150,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{187,79}</string>
			</dict>
			<key>new_button_press.png</key>
			<dict>
				<key>frame</key>
				<string>{{79,117},{150,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{188,80}</string>
			</dict>
			<key>plus_press.png</key>
			<dict>
				<key>frame</key>
				<string>{{340,361},{36,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{45,45}</string>
			</dict>
			<key>getGift_press.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,302},{169,71}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{211,90}</string>
			</dict>
			<key>jewelGift.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{144,111}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{144,111}</string>
			</dict>
			<key>bubbleGift.png</key>
			<dict>
				<key>frame</key>
				<string>{{150,2},{147,108}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{147,108}</string>
			</dict>
			<key>check.png</key>
			<dict>
				<key>frame</key>
				<string>{{493,2},{1,1}}</string>
				<key>offset</key>
				<string>{9,-9}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{20,20}</string>
			</dict>
			<key>lucency.png</key>
			<dict>
				<key>frame</key>
				<string>{{498,2},{1,1}}</string>
				<key>offset</key>
				<string>{59,-59}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>
			<key>cancel_press.png</key>
			<dict>
				<key>frame</key>
				<string>{{146,305},{145,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{181,73}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>Start.png</string>
			<key>realTextureFileName</key>
			<string>Start.png</string>
			<key>size</key>
			<string>{512,527}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>512</integer>
			<key>height</key>
			<integer>527</integer>
		</dict>
	</dict>
</plist>