<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>00.png</key>
			<dict>
				<key>frame</key>
				<string>{{345,0},{278,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{278,65}</string>
			</dict>
			<key>001.png</key>
			<dict>
				<key>frame</key>
				<string>{{489,68},{212,23}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{212,23}</string>
			</dict>
			<key>002.png</key>
			<dict>
				<key>frame</key>
				<string>{{485,280},{213,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{213,24}</string>
			</dict>
			<key>02.png</key>
			<dict>
				<key>frame</key>
				<string>{{224,357},{53,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{53,55}</string>
			</dict>
			<key>02_press.png</key>
			<dict>
				<key>frame</key>
				<string>{{277,461},{48,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{48,48}</string>
			</dict>
			<key>countdown.png</key>
			<dict>
				<key>frame</key>
				<string>{{149,287},{75,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{75,72}</string>
			</dict>
			<key>countdown_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{277,287},{66,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{66,66}</string>
			</dict>
			<key>emitter1.png</key>
			<dict>
				<key>frame</key>
				<string>{{224,287},{70,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{70,42}</string>
			</dict>
			<key>emitter2.png</key>
			<dict>
				<key>frame</key>
				<string>{{410,152},{73,118}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{73,118}</string>
			</dict>
			<key>go.png</key>
			<dict>
				<key>frame</key>
				<string>{{410,0},{152,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{152,69}</string>
			</dict>
			<key>level.png</key>
			<dict>
				<key>frame</key>
				<string>{{479,0},{68,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{68,32}</string>
			</dict>
			<key>levelNum.png</key>
			<dict>
				<key>frame</key>
				<string>{{273,0},{287,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{287,72}</string>
			</dict>
			<key>ready.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{273,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{273,84}</string>
			</dict>
			<key>score_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,249},{37,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{37,38}</string>
			</dict>
			<key>bubble_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{277,353},{54,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{54,55}</string>
			</dict>
			<key>bubble_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{277,407},{54,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{54,55}</string>
			</dict>
			<key>bubble_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{149,359},{54,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{54,55}</string>
			</dict>
			<key>bubble_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,84},{54,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{54,55}</string>
			</dict>
			<key>bubble_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,139},{54,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{54,55}</string>
			</dict>
			<key>bubble_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,194},{54,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{54,55}</string>
			</dict>
			<key>bubble_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{54,84},{54,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{54,55}</string>
			</dict>
			<key>duang.png</key>
			<dict>
				<key>frame</key>
				<string>{{345,278},{226,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{226,78}</string>
			</dict>
			<key>line.png</key>
			<dict>
				<key>frame</key>
				<string>{{479,68},{10,10}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{10,10}</string>
			</dict>
			<key>line_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{479,78},{10,10}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{10,10}</string>
			</dict>
			<key>line_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{479,88},{10,10}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{10,10}</string>
			</dict>
			<key>line_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{479,98},{10,10}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{10,10}</string>
			</dict>
			<key>line_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{479,108},{10,10}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{10,10}</string>
			</dict>
			<key>line_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{479,118},{10,10}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{10,10}</string>
			</dict>
			<key>line_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{479,128},{10,10}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{10,10}</string>
			</dict>
			<key>line_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{479,138},{10,10}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{10,10}</string>
			</dict>
			<key>line_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{423,493},{10,10}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{10,10}</string>
			</dict>
			<key>line_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{423,477},{10,10}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{10,10}</string>
			</dict>
			<key>praise.png</key>
			<dict>
				<key>frame</key>
				<string>{{75,287},{129,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{129,74}</string>
			</dict>
			<key>shop_return.png</key>
			<dict>
				<key>frame</key>
				<string>{{423,418},{59,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{59,59}</string>
			</dict>
			<key>RMB.png</key>
			<dict>
				<key>frame</key>
				<string>{{423,270},{148,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{148,62}</string>
			</dict>
			<key>RMB_press.png</key>
			<dict>
				<key>frame</key>
				<string>{{129,416},{148,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{148,62}</string>
			</dict>
			<key>ferfect.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,419},{129,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{129,75}</string>
			</dict>
			<key>beautiful.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,287},{132,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{132,75}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>Prop.png</string>
			<key>realTextureFileName</key>
			<string>Prop.png</string>
			<key>size</key>
			<string>{512,512}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>512</integer>
			<key>height</key>
			<integer>512</integer>
		</dict>
	</dict>
</plist>